<!DOCTYPE HTML>
<html lang="en-US">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="FormJS - The easiest and most powerful way to create forms and surveys.">
		<meta name="author" content="Julien Loutre">
		<link rel="shortcut icon" href="favicon.png">
		
		<title>{{title}}</title>
		
		{{include_css}}
		{{include_less}}
		{{include_js}}
		
	</head>
	<body>
		{{content}}
	</body>
</html>