
<div ng-app ng-controller="testCtrl">
	<nav class="navbar navbar-default" role="navigation">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#">{{device}}</a>
		</div>
	
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<form class="navbar-form navbar-left" role="search">
				<div class="form-group">
					<select ng-model="device" class="form-control">
						<option value="Acer Iconia Tab A100" ng-click="size(800,1280)">Acer Iconia Tab A100</option>
						<option value="Acer Iconia Tab A101" ng-click="size(600,1024)">Acer Iconia Tab A101</option>
						<option value="Acer Iconia Tab A200" ng-click="size(800,1280)">Acer Iconia Tab A200</option>
						<option value="Acer Iconia Tab A500" ng-click="size(648,1280)">Acer Iconia Tab A500</option>
						<option value="Acer Iconia Tab A502" ng-click="size(800,1280)">Acer Iconia Tab A502</option>
						<option value="Ainol Novo 7 Elf 2" ng-click="size(496,1024)">Ainol Novo 7 Elf 2</option>
						<option value="Apple iPad" ng-click="size(768,1024)">Apple iPad</option>
						<option value="Apple iPad 2" ng-click="size(768,1024)">Apple iPad 2</option>
						<option value="Apple iPad 3 (and 4)" ng-click="size(768,1024)">Apple iPad 3 (and 4)</option>
						<option value="Apple iPad Mini" ng-click="size(768,1024)">Apple iPad Mini</option>
						<option value="Apple iPhone 3G" ng-click="size(320,480)">Apple iPhone 3G</option>
						<option value="Apple iPhone 3GS" ng-click="size(320,480)">Apple iPhone 3GS</option>
						<option value="Apple iPhone 4" ng-click="size(320,480)">Apple iPhone 4</option>
						<option value="Apple iPhone 4S" ng-click="size(320,480)">Apple iPhone 4S</option>
						<option value="Apple iPhone 5" ng-click="size(320,568)">Apple iPhone 5</option>
						<option value="Apple iPod Touch" ng-click="size(320,480)">Apple iPod Touch</option>
						<option value="Archos 70b (it2)" ng-click="size(600,1024)">Archos 70b (it2)</option>
						<option value="Archos 80G9" ng-click="size(768,1024)">Archos 80G9</option>
						<option value="Arnova 7 G2" ng-click="size(480,800)">Arnova 7 G2</option>
						<option value="Arnova 7FG3" ng-click="size(640,1067)">Arnova 7FG3</option>
						<option value="Arnova 8C G3" ng-click="size(800,1067)">Arnova 8C G3</option>
						<option value="Arnova 10b G3" ng-click="size(600,1024)">Arnova 10b G3</option>
						<option value="ASUS Padfone" ng-click="size(800,1128)">ASUS Padfone</option>
						<option value="ASUS Transformer Pad TF300T" ng-click="size(800,1280)">ASUS Transformer Pad TF300T</option>
						<option value="ASUS Transformer TF101" ng-click="size(800,1280)">ASUS Transformer TF101</option>
						<option value="BAUHN AMID-972XS" ng-click="size(768,1024)">BAUHN AMID-972XS</option>
						<option value="BlackBerry 9520" ng-click="size(345,691)">BlackBerry 9520</option>
						<option value="BlackBerry Bold 9360" ng-click="size(320,N/A)">BlackBerry Bold 9360</option>
						<option value="BlackBerry Bold 9780" ng-click="size(480,N/A)">BlackBerry Bold 9780</option>
						<option value="BlackBerry Bold 9790" ng-click="size(320,N/A)">BlackBerry Bold 9790</option>
						<option value="BlackBerry Bold 9900" ng-click="size(356,N/A)">BlackBerry Bold 9900</option>
						<option value="BlackBerry Curve 9300" ng-click="size(311,N/A)">BlackBerry Curve 9300</option>
						<option value="BlackBerry Curve 9320" ng-click="size(320,N/A)">BlackBerry Curve 9320</option>
						<option value="BlackBerry Curve 9380" ng-click="size(320,N/A)">BlackBerry Curve 9380</option>
						<option value="BlackBerry PlayBook" ng-click="size(600,1024)">BlackBerry PlayBook</option>
						<option value="BlackBerry Torch 9800" ng-click="size(320,480)">BlackBerry Torch 9800</option>
						<option value="BlackBerry Torch 9810" ng-click="size(320,480)">BlackBerry Torch 9810</option>
						<option value="BlackBerry Z10" ng-click="size(345,521)">BlackBerry Z10</option>
						<option value="Google Nexus 5" ng-click="size(360,598)">Google Nexus 5</option>
						<option value="HP Touchpad" ng-click="size(768,1024)">HP Touchpad</option>
						<option value="HP Veer" ng-click="size(320,545)">HP Veer</option>
						<option value="HTC 7 Mozart" ng-click="size(320,480)">HTC 7 Mozart</option>
						<option value="HTC 7 Trophy" ng-click="size(320,480)">HTC 7 Trophy</option>
						<option value="HTC Desire" ng-click="size(320,533)">HTC Desire</option>
						<option value="HTC Desire C" ng-click="size(320,480)">HTC Desire C</option>
						<option value="HTC Desire HD" ng-click="size(320,533)">HTC Desire HD</option>
						<option value="HTC Desire Z" ng-click="size(480,800)">HTC Desire Z</option>
						<option value="HTC Evo 3D" ng-click="size(540,960)">HTC Evo 3D</option>
						<option value="HTC Legend" ng-click="size(320,480)">HTC Legend</option>
						<option value="HTC One S" ng-click="size(360,640)">HTC One S</option>
						<option value="HTC One V" ng-click="size(320,533)">HTC One V</option>
						<option value="HTC One XL" ng-click="size(360,640)">HTC One XL</option>
						<option value="HTC Sensation XL" ng-click="size(360,640)">HTC Sensation XL</option>
						<option value="HTC Titan 4G" ng-click="size(320,480)">HTC Titan 4G</option>
						<option value="HTC Velocity 4G" ng-click="size(360,640)">HTC Velocity 4G</option>
						<option value="HTC Wildfire S" ng-click="size(320,480)">HTC Wildfire S</option>
						<option value="HTC Windows Phone 8X" ng-click="size(320,480)">HTC Windows Phone 8X</option>
						<option value="Huawei U8650" ng-click="size(320,480)">Huawei U8650</option>
						<option value="Kindle 3" ng-click="size(600,N/A)">Kindle 3</option>
						<option value="Kindle Fire HD 7" ng-click="size(533,801)">Kindle Fire HD 7</option>
						<option value="Kindle Fire HD 8.9" ng-click="size(533,801)">Kindle Fire HD 8.9</option>
						<option value="Kindle Fire HDX 7"" ng-click="size(600,902)">Kindle Fire HDX 7"</option>
						<option value="Kindle Paperwhite" ng-click="size(758,N/A)">Kindle Paperwhite</option>
						<option value="Kobo eReader Touch" ng-click="size(600,N/A)">Kobo eReader Touch</option>
						<option value="LG Optimus 2X" ng-click="size(320,533)">LG Optimus 2X</option>
						<option value="LG Optimus L3" ng-click="size(320,427)">LG Optimus L3</option>
						<option value="LG Optimus Pad" ng-click="size(768,1280)">LG Optimus Pad</option>
						<option value="LG Viewty KU990" ng-click="size(240,400)">LG Viewty KU990</option>
						<option value="Microsoft Surface (RT)" ng-click="size(768,1366)">Microsoft Surface (RT)</option>
						<option value="Motorola Defy" ng-click="size(320,569)">Motorola Defy</option>
						<option value="Motorola Droid3" ng-click="size(360,599)">Motorola Droid3</option>
						<option value="Motorola Droid Razr" ng-click="size(360,640)">Motorola Droid Razr</option>
						<option value="Motorola Milestone" ng-click="size(320,569)">Motorola Milestone</option>
						<option value="Motorola Razr HD 4G" ng-click="size(360,598)">Motorola Razr HD 4G</option>
						<option value="Motorola Razr M 4G" ng-click="size(360,598)">Motorola Razr M 4G</option>
						<option value="Motorola Xoom" ng-click="size(800,1280)">Motorola Xoom</option>
						<option value="Motorola Xoom 2" ng-click="size(800,1280)">Motorola Xoom 2</option>
						<option value="Nexus 4" ng-click="size(384,598)">Nexus 4</option>
						<option value="Nexus 7" ng-click="size(603,966)">Nexus 7</option>
						<option value="Nexus S" ng-click="size(320,533)">Nexus S</option>
						<option value="Nokia 300" ng-click="size(234,N/A)">Nokia 300</option>
						<option value="Nokia 500" ng-click="size(360,640)">Nokia 500</option>
						<option value="Nokia 700" ng-click="size(240,427)">Nokia 700</option>
						<option value="Nokia 2700" ng-click="size(240,N/A)">Nokia 2700</option>
						<option value="Nokia Lumia 520" ng-click="size(320,480)">Nokia Lumia 520</option>
						<option value="Nokia Lumia 610" ng-click="size(320,480)">Nokia Lumia 610</option>
						<option value="Nokia Lumia 710" ng-click="size(320,480)">Nokia Lumia 710</option>
						<option value="Nokia Lumia 800" ng-click="size(320,480)">Nokia Lumia 800</option>
						<option value="Nokia Lumia 820" ng-click="size(320,480)">Nokia Lumia 820</option>
						<option value="Nokia Lumia 900" ng-click="size(320,480)">Nokia Lumia 900</option>
						<option value="Nokia Lumia 920" ng-click="size(320,480)">Nokia Lumia 920</option>
						<option value="Nokia Lumia 1020" ng-click="size(320,480)">Nokia Lumia 1020</option>
						<option value="Nokia Lumia 1520" ng-click="size(320,480)">Nokia Lumia 1520</option>
						<option value="Nokia N95" ng-click="size(240,N/A)">Nokia N95</option>
						<option value="Nokia N900" ng-click="size(480,800)">Nokia N900</option>
						<option value="Panasonic Toughpad A1" ng-click="size(768,1024)">Panasonic Toughpad A1</option>
						<option value="Samsung Galaxy Ace" ng-click="size(320,480)">Samsung Galaxy Ace</option>
						<option value="Samsung Galaxy Ace 2" ng-click="size(320,533)">Samsung Galaxy Ace 2</option>
						<option value="Samsung Galaxy Grand" ng-click="size(480,800)">Samsung Galaxy Grand</option>
						<option value="Samsung Galaxy Note" ng-click="size(400,640)">Samsung Galaxy Note</option>
						<option value="Samsung Galaxy Note 2" ng-click="size(360,640)">Samsung Galaxy Note 2</option>
						<option value="Samsung Galaxy Note 10.1" ng-click="size(800,1280)">Samsung Galaxy Note 10.1</option>
						<option value="Samsung Galaxy S2" ng-click="size(320,533)">Samsung Galaxy S2</option>
						<option value="Samsung Galaxy S3" ng-click="size(360,640)">Samsung Galaxy S3</option>
						<option value="Samsung Galaxy S3 Mini" ng-click="size(360,640)">Samsung Galaxy S3 Mini</option>
						<option value="Samsung Galaxy S4" ng-click="size(360,640)">Samsung Galaxy S4</option>
						<option value="Samsung Galaxy S4 Mini" ng-click="size(360,640)">Samsung Galaxy S4 Mini</option>
						<option value="Samsung Galaxy Tab 2 7.0" ng-click="size(600,1024)">Samsung Galaxy Tab 2 7.0</option>
						<option value="Samsung Galaxy Tab 7" ng-click="size(600,1024)">Samsung Galaxy Tab 7</option>
						<option value="Samsung Galaxy Tab 8.9" ng-click="size(800,1280)">Samsung Galaxy Tab 8.9</option>
						<option value="Samsung Galaxy Tab 10.1" ng-click="size(800,1280)">Samsung Galaxy Tab 10.1</option>
						<option value="Samsung Galaxy Tab 10.1" ng-click="size(800,1280)">Samsung Galaxy Tab 10.1</option>
						<option value="Sony Xperia E Dual" ng-click="size(320,480)">Sony Xperia E Dual</option>
						<option value="Tesco Hudl" ng-click="size(600,799)">Tesco Hudl</option>
						<option value="Windows Surface Pro" ng-click="size(1080,1920)">Windows Surface Pro</option>
					</select>
				</div>
			</form>
			<ul class="nav navbar-nav navbar-right">
				<li><a href="#">{{displaySize.width}}x{{displaySize.height}}</a></li>
			</ul>
		</div><!-- /.navbar-collapse -->
	</nav>
	
	<div class="device-preview" style="width: {{displaySize.width}}px; height: {{displaySize.height}}px;">
		<img src="http://www.fleetwit.com/uploads/races/regular-c59d9edf-d77e-44ef-8bc9-967e6c0c5206.png" style="width:100%;" />
		<div class="panel panel-default">
			<div class="panel-body" id="game"></div>
			<div class="panel-footer" id="game-footer" style="text-align:right;">
				
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
	function testCtrl($scope) {
		$scope.device = "Apple iPhone 4";
		$scope.displaySize = {
			width:	320,
			height:	480
		};
		$scope.size = function(w,h) {
			$scope.displaySize.width = w;
			$scope.displaySize.height = h;
		};
	}
	
	var levels = [{
		type:		"trivia",
		title:		"Trivia 1",
		label:		"Trivia question 1",
		time:		180,
		data:		{
			type:		"radio",
			list:		[{
				label:	"A",
				value:	"A"
			},{
				label:	"B",
				value:	"B"
			}],
			answer:		"A"
		},
		display:	{
			type:	"image",
			image:	"http://www.dailydangle.ca/wp-content/uploads/2013/04/best-astro-photographs-space-pictures-2012-ngc-6960_59489_600x450.jpg"
		}
	},{
		type:		"trivia",
		title:		"Trivia 2",
		label:		"Trivia question 2",
		time:		180,
		data:		{
			type:		"radio",
			list:		[{
				label:	"A",
				value:	"A"
			},{
				label:	"B",
				value:	"B"
			},{
				label:	"C",
				value:	"C"
			}],
			answer:		"C"
		},
		display:	{
			type:	"image",
			image:	"http://images.nationalgeographic.com/wpf/media-live/photos/000/477/overrides/lyngen-alps-aurora-1-24_47737_600x450.jpg"
		}
	}];
	
	$(function() {
		var game = new gameFramework($("#game"), []).build({
			levels:		levels,
			buttons:	$("#game-footer"),
			onSubmit:	function(data, jform) {
				
			},
			onError:	function(data, jform) {
				
			}
		});
		
		game.start();
	});
</script>